<%- include('partials/header') -%>


  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="col">
        <h1 style="margin-top:10%; color:red;">contact us</h1>
        <p>
            Need to get in touch with us? fill out the form with your inquiry.
        </p>
        
      </div>
      <div class="col">
        <div style="margin-top: 2%; " class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1">
          </div>
        <div style="margin-top: 2%;" class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" >
          </div>
          <div style="margin-top: 2%;" class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">write your quiry here</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
      </div>
    </div>
  </div>



<%- include('partials/footer') -%>  