<%- include('partials/header') -%>



<!-- Title -->

<section class="colored-section" id="title">

  <div class="container-fluid">


    <div class="row">
      <div class="col-lg-6 title-items">
        <h1 class="big-heading">Book Your First Stay,</h1>
        <a href="\rooms"><button type="button" class="btn btn-lg booking-button"><i class="fa-solid fa-hotel"></i></i> Book Now</button></a>
      </div>
      <div class="col-lg-6">
        <img class="title-image"  src="/img/iphone.png" alt="Hotel Photo">
      </div>
    </div>

  </div>

</section>





<!-- Features -->


<section class="white-section" id="features">

  <div class="container-fluid">

    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title">Easy to use.</h3>
        <p>Our Hotel Web App is very simple and easy to use with just two clicks you can book a room.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fa-solid fa-shield fa-4x"></i>
        <h3 class="feature-title">Security</h3>
        <p>Smart Taj Provides you 24 Hours Security.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fa-brands fa-accusoft fa-4x"></i>
        <h3 class="feature-title">Facilities.</h3>
        <p>We offer the best facilities, such as free wireless internet access, Car parking, meeting rooms, and a 24-hour doctor on call etc.</p>
      </div>
    </div>


  </div>
</section>






<!-- Testimonials -->

<section class="white-section" id="testimonials">

  

  <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item container-fluid active carousel-1">
        <h2 class="testimonial-text">Enjoy Your Comfort zone.</h2>
        
        
      </div>
      <div class="carousel-item container-fluid carousel-2">
        <h2 class="testimonial-text">Take In charge of your Relaxation.</h2>
        
      </div>
      <div class="carousel-item container-fluid carousel-3">
        <h2 class="testimonial-text">Be moody and enjoy vacations.</h2>
        
        
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


</section>




</section>


<br>
<br>
<br>

<%= data %>









  




<%- include('partials/footer') -%>